h1{
	background-color: pink;
	color: green;
	text-align: center;
}
.name1{
	text-align: center;
	background-color: black;
	color: white;
}
#name2{
	background-color: yellow;
	color: black;
	text-align: center;
}